<%# app/views/devise/registrations/edit.html.erb %>

<h2>Edit User</h2>

<form class="edit_user" id="edit_user" action="/users" method="post">
  <input type="hidden" name="_method" value="put" />
  
  <div class="field">
    <label for="user_email">Email</label><br />
    <input autofocus="autofocus" autocomplete="email" type="email" value="<%= current_user.email %>" name="user[email]" id="user_email" />
  </div>

  <div class="field">
    <label for="user_username">Username</label><br />
    <input type="text" value="<%= current_user.username %>" name="user[username]" id="user_username" />
  </div>

  <div class="field">
    <label for="user_private">Private</label><br />
    <input name="user[private]" type="hidden" value="0" />
    <input type="checkbox" value="1" name="user[private]" id="user_private" <%= 'checked' if current_user.private? %> />
  </div>

  <div class="field">
    <label for="user_password">Password</label> <i>(leave blank if you don't want to change it)</i><br />
    <input autocomplete="new-password" type="password" name="user[password]" id="user_password" />
    <br />
    <em>6 characters minimum</em>
  </div>

  <div class="field">
    <label for="user_password_confirmation">Password confirmation</label><br />
    <input autocomplete="new-password" type="password" name="user[password_confirmation]" id="user_password_confirmation" />
  </div>

  <div class="field">
    <label for="user_current_password">Current password</label> <i>(we need your current password to confirm your changes)</i><br />
    <input autocomplete="current-password" type="password" name="user[current_password]" id="user_current_password" />
  </div>

  <div class="actions">
    <input type="submit" name="commit" value="Update" data-disable-with="Update" />
  </div>
</form>

<h3>Cancel my account</h3>

<div>
  Unhappy? 
  <form class="button_to" method="post" action="/users">
    <input type="hidden" name="_method" value="delete" />
    <button data-confirm="Are you sure?" data-turbo-confirm="Are you sure?" type="submit">Cancel my account</button>
  </form>
</div>

<a href="/photos">Back</a>
